[submodule "mingle.static/docs"]
	path = mingle.static/docs
	url = https://github.com/bigeasy/mingle.git
	branch = static.gh-pages
[submodule "mingle.root/docs"]
	path = mingle.root/docs
	url = https://github.com/bigeasy/mingle.git
	branch = root.gh-pages
[submodule "node_modules/wiseguy"]
	path = node_modules/wiseguy
	url = https://github.com/bigeasy/wiseguy.git
