[submodule "root"]
	path = root
	url = https://github.com/bigeasy/mingle.git
    branch = root.gh-pages
[submodule "static"]
	path = static
	url = https://github.com/bigeasy/mingle.git
    branch = static.gh-pages
[submodule "uptime"]
	path = uptime
	url = https://github.com/bigeasy/mingle.git
    branch = static.gh-pages
[submodule "vendor/lesshat"]
	path = vendor/lesshat
	url = https://github.com/madebysource/lesshat.git
